@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #F5FFFA;
}

.container {
    max-width: 700px;
    width: 100%;
    background: #FFF;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.container::after {
    content: "";
    display: block;
    clear: both;
}

.container .title {
    font-weight: 500;
    position: relative;
    background-image: url('../img/fondo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #FFF;
    height: 190px;
    background-color: aqua;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding-left: 15px;
}

.container h1 {
    font-size: 27px;
}

.container p {
    font-size: 15px;
    color: #FFF;
}

.container .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: radial-gradient(circle at 10% 20%, rgb(55, 209, 255) 0%, rgb(14, 31, 111) 100.2%);
}

.container form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.user-details .input-box .details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
    border-color: rgb(151, 169, 250);
}

form .button {
    height: 50px;
    margin: 25px 0 0 0;
}

form .button input {
    height: 100%;
    width: 100%;
    outline: none;
    color: #FFF;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: radial-gradient(circle at 10% 20%, rgb(55, 209, 255) 0%, rgb(14, 31, 111) 100.2%);
}

form .button input:hover {
    background: radial-gradient(circle at 90% 80%, rgb(55, 209, 255) 0%, rgb(14, 31, 111) 100.2%);
}

footer {
    text-align: center;
    margin-top: 15px;
}

@media (max-width: 480px) {
    .container {
        max-width: 100%;
        padding: 15px;
        border-radius: 3px;
    }

    .container .title {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }

    form .user-details .input-box {
        width: 100%;
        margin-bottom: 10px;
    }

    form .gender-details .category {
        flex-direction: column;
        width: 100%;
    }

    form .button {
        margin: 20px 0;
    }
}